<!DOCTYPE html>
<html lang="en" >
<head>
<!--<script data-ad-client="ca-pub-8144970076621768" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<script data-ad-client="ca-pub-6525674986903382" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                 <meta name="Description" content="An open-source platform for predictive anlytics.Currently providing a service for Data-Analyse, Pre-process ,Visualize and Prediction.">
                   <meta name="msvalidate.01" content="9509A15A4C1E14A0D9833B8DF4B5080B" />
                   <!--clear cache-->
                   <meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<!--clear cache end-->
<meta name="copyrighted-site-verification" content="46c2b0d59d92d26a" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css'>
    <link rel="stylesheet" href="/build/tailwind.css" type="text/css" media="screen" title="no title" charset="utf-8" />

    <meta name="google-site-verification" content="BTLJ8U1Z_qWXFuugZJ_Vg3LYfD09gtOelj8n8SOd250" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="/static/js/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
 <link rel = "stylesheet" href = "/static/css/style12.css?{% now 'U' %}">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>



    <link rel='stylesheet' href='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/css/demo.css'>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

<!--popup video-->

<!--popup video end-->

</head>
<!--<body onload="myFunction11()" style="overeflow-x:hidden;"class="large-header large-header1">

<div id="loader11"></div>

<div style="display:none;" id="myDiv11" >-->
<body>


<div id="large-header" class="large-header">
<div >

</div>
    <div id="circularMenu" class="circular-menu">

  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
    <i class="fa fa-plus"></i>
  </a>

  <menu class="items-wrapper">
 <a href="https://predictiveai.tech/contact/" target="_blank" <i class="menu-item material-icons">mail_outline</i></a>

    <a href="https://www.linkedin.com/company/predictiveai-tech/" target="_blank" class="menu-item fa fa-linkedin"></a>
  <a href="https://predictiveai.tech/faq/" target="_blank" <i class="menu-item material-icons">help_outline</i></a>
    <a href="#" class="menu-item fa fa-twitter"></a>

  </menu>

</div>

       <canvas id="demo-canvas"></canvas>

    <div >
<div class="topmiddleleft">
<button style="border-radius: 50%;position: absolute; background-color: white;border: none;color: black; padding: 15px;text-align: center;text-decoration: none;display: inline-block;font-size:16px; cursor: pointer;"onclick="myFunctiondialog()" class="button button5"><i class="material-icons">chat</i></button>

</div><br><br>
           {% block body %}
    {% endblock %}
    <p class="lead"></p>


<div id="myDIV115"class="topmiddleleft1"style="display:none;">
<iframe
    right="0"
    allow="microphone;"
    width="270"
    height="380"
    src="https://console.dialogflow.com/api-client/demo/embedded/44aff880-209c-4173-b133-358d0e926ad2">
</iframe>
</div>

    <center>
<a class="copyrighted-badge" title="Copyrighted.com Registered &amp; Protected" target="_blank" href="https://www.copyrighted.com/website/nRDO2jEyad4eEnVJ"><img alt="Copyrighted.com Registered &amp; Protected" border="0" width="125" height="25" srcset="https://static.copyrighted.com/badges/125x25/03_1_2x.png 2x" src="https://static.copyrighted.com/badges/125x25/03_1.png" /></a><script src="https://static.copyrighted.com/badges/helper.js"></script>
    </center>
    </div>

</div>



<!-- partial -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

  <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js'></script>
<script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js'></script>
<script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js'></script>
  <script src="/static/js/script12.js?{% now 'U' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!--popup video -->
<script>




</script>
<!--popup video end-->


<!--</div>-->



</body>
</html>
