{% extends 'index1.html' %}
{% block title %}
preprocess@Dart
{% endblock %}
{% block body %}
<div>
   <nav class="top-right open">
	<a class="disc l1" href="/download/processed/{{fName}}">
		<div>Download</div>
	</a>
	<a class="disc l2"  href="/prediction/{{fName}}">
		<div>Prediction</div>
	</a>
	<a class="disc l3"  href="/visualizer3/{{fName}}" >
		<div>Visualization</div>
	</a>
	<a class="disc l4"  href="/preprocess/{{fName}}">
		<div>Preprocessor </div>
	</a>
	<a class="disc l5"  href="/" >
        <div>New</div>
	</a>
	<a class="disc l6 toggle">
		Menu
	</a>
</nav>
<br><br>
      <div class="topleft">


<img style=" z-index:100;width:25%;"src="/static/images/logo.png" alt="logo">
      </div>
</div>

<div class="main-title1">

       <center class=" jumbotron cont1 container cd p-3 my-3  text-white"  >
<center style=" line-height:1.3;" class="blinking tex ">Sample Data</center>
    <div style=" height: 280px; overflow:auto;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container  z-depth-1 a cde" >
        <table  class="table table-dark table-hover" >
            <thead >
                <tr>
              {% for clm in data2h %}

                    <th>{{clm}}</th>


                {% endfor %}
            </tr>
            </thead>
            <tbody >
                {% for clm in des_list2 %}
                <tr>
                  {% for cl in clm %}
                    <td>{{cl}}</td>
                 {% endfor %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

  </form>
 </div>
  <br>


    <center class="blinking tex ">Data Information</center>
 <p class="text-white"style="line-height: 1.8; text-align:left;font-size:14px;font-style:bold; font-family: 'Comic Sans MS';">
    {{ l2 }}
    <span style="float:right;">
        {{ l1 }}
    </span>
</p>


    <div style="height: 280px; overflow:auto;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container  z-depth-1 a cde" >
        <table  class=" table table-dark table-hover" style=" position: relative;" >
            <thead >
                <tr style="font-style:italic; ">
                    <th>FEATURES</th>
                     <th>DATA TYPES</th>
                     <th>IS NULL</th>
                     <th>NO OF ROWS</th>

                </tr>
            </thead>
            <tbody >
                {% for clm in clm_list %}
                <tr>
                  {% for cl in clm %}
                    <td>{{cl}}</td>
                 {% endfor %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</form>
</div>
 </center>
    <br>
    <center class=" jumbotron cont1 container cd p-3 my-3 bg-warning text-white"  >
<center style=" line-height:1.3;" class="blinking tex ">Data Description</center>
    <div style=" height: 280px; overflow:auto;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container  z-depth-1 a cde" >
        <table  class="table table-dark table-hover" >
            <thead >
                <tr>
              {% for clm in data1h %}

                    <th>{{clm}}</th>


                {% endfor %}
            </tr>
            </thead>
            <tbody >
                {% for clm in des_list %}
                <tr>
                  {% for cl in clm %}
                    <td>{{cl}}</td>
                 {% endfor %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

  </form>
 </div>
</center>  <br>
    <center class=" jumbotron cont1 container cd p-3 my-3 bg-warning text-white"  >
<center style=" line-height:1.3;" class="blinking tex ">Feature Engineering</center>
<p style="color:black; line-height: 1.8; text-align:right;font-size:17px; font-family: 'Comic Sans MS'; " >~Feature Engineering is an art</p>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
     <div style=" height: 250px; overflow:auto;">
    <div class="container  z-depth-1 a cde" >
        <table  class="table table-dark table-hover" >
               <thead >
                <tr>
                    <th>Feature</th>
                    <th>Delete</th>
                    <th>Cleaning</th>
                </tr>
            </thead>
            <tbody >
                {% for clm in clm_list1 %}

                <tr>
                    <td>{{clm}}</td>

                    {% if clm in no_imp_feat %}
                    <td>
                        <label>
                            <input type="checkbox" class="filled-in" name="todelete" value="{{clm}}" />
                            <span></span>
                        </label>
                    </td>

                    <td><a href="cleaning/?f={{clm}}"><i class="material-icons">brush</i></a></td>
                   {% endif %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
  <button style="letter-spacing:2px; text-decoration:none;background-color:white;" type="submit" class="btn1 rounded button5"><span class="text-green">Save</span></button>
                &nbsp;&nbsp;       <a style="letter-spacing:2px; text-decoration:none;background-color:white; "class="btn1 btn-sm rounded button5" href="normalization/" ><span class="text-green">Scaling & Normalization</span></a>

                &nbsp;&nbsp;     <a  style="letter-spacing:2px; text-decoration:none;background-color:white;"class="btn1 btn-sm rounded button5" href="label-encoding/" ><span class="text-green">Encoding</span></a><br>

                <a style="letter-spacing:2px; text-decoration:none;background-color:white;"class="btn1 btn-sm rounded button5" href="/visualizer3/{{fName}}" ><span class="text-green">Visualization</span></a>
                  &nbsp;  <a style="letter-spacing:2px; text-decoration:none;background-color:white;"class="btn1 btn-sm rounded button5" href="/prediction/{{fName}}" ><span class="text-green">Prediction</span></a>


  </form>


</center>

 <br>





</div>
{% endblock %}